/* Write your code here. */
.bg_container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-size: 28px;
  font-family: "Roboto";
}
.second_container {
  background-color: #cffafe;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_size {
  height: 15vh;
}
.kiran_heading {
  color: #1e293b;
  font-size: 18px;
  font-family: "Roboto";
}
.kiran_paragraph {
  align-self: center;
}
